<a href="https://colab.research.google.com/github/mojahid-t17/BasicPython-note/blob/main/pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas tuitorial: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

In [ ]:
# install panda: !pip install pandas
# A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

import pandas as pd
# series
x=[10,20,30,40]
series=pd.Series(x)
# change index name
series2=pd.Series(x, index=['a','b','c','d'])
print(series)
print(series2)

0    10
1    20
2    30
3    40
dtype: int64
a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
a=pd.Series(12)
print(a)
b=pd.Series(10, index=[1,2,3,4])
print(b)

0    12
dtype: int64
1    10
2    10
3    10
4    10
dtype: int64

In [ ]:
#dataframe
data={
    'name':['alex','david','robert', 'jack', 'molina'], 'rank':[2,5,3,1,7], 'marks':[90,34,53,25,69]
}
# create a dataframe and set the index name:
df=pd.DataFrame(data, index=['s1','s2','s3', 's4' ,'s5'])
print(df)

#find the colomn name:

col=df.columns
print(col)

for cols in df:
  print(cols)

      name  rank  marks
s1    alex     2     90
s2   david     5     34
s3  robert     3     53
s4    jack     1     25
s5  molina     7     69
Index(['name', 'rank', 'marks'], dtype='object')
name
rank
marks

In [ ]:
#access value in a selected row by index name:
print(df.loc['s1'])

#find  only sected colomn in a row:
print(df.loc['s2','name']) #row,col

#find column by index no:
print("the result of 2nd and 4th column is \n",df.iloc[[2,4]],)

name     alex
rank        2
marks      90
Name: s1, dtype: object
david
the result of 2nd and 4th column is
       name  rank  marks
s3  robert     3     53
s5  molina     7     69

In [ ]:
# dataframe attributes methods:

# find the data type
print(df.dtypes)

# dimention of the dataset
print("dimention: ",df.ndim)

print(df.shape)

# the number of elements in the dataframe:
print("total elements:", df.size)

# see the indices :
print("the idices is: ", df.index)

# transpose the table:

print("the transpose table is: \n\n",df.T)

# see the first n rows

print("\n the first two rows:\n",df.head(2)) #return first two rows

# see last n rows

print("\nthe last two rows: \n",df.tail(2))

# Getting info about your data
print(df.info())

name     object
rank      int64
marks     int64
dtype: object
dimention:  2
(5, 3)
total elements: 15
the idices is:  Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')
the transpose table is:

          s1     s2      s3    s4      s5
name   alex  david  robert  jack  molina
rank      2      5       3     1       7
marks    90     34      53    25      69

 the first two rows:
      name  rank  marks
s1   alex     2     90
s2  david     5     34

the last two rows:
       name  rank  marks
s4    jack     1     25
s5  molina     7     69
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, s1 to s5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   rank    5 non-null      int64
 2   marks   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 332.0+ bytes
None

In [ ]:
#merge and concat two dataset
data1={
    "id":[1,2,3,4,5],
    "name":['arif', 'asif', 'babul', 'alex', 'mina'],
     'marks':[45,53,66,77,88]
}
data2={
      "id":[4,5,8,9,10],
    "name":['alex','david','robert', 'jack', 'molina'],
     'dept':['cse','eee','it','bba','economics']
}

df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

print(pd.concat([df1,df2],axis=1))
# print(pd.merge(df1,df2,how="inner",on="id"))
print(pd.merge(df1,df2,how="right",on="id"))

   id   name  marks  id    name       dept
0   1   arif     45   4    alex        cse
1   2   asif     53   5   david        eee
2   3  babul     66   8  robert         it
3   4   alex     77   9    jack        bba
4   5   mina     88  10  molina  economics
   id name_x  marks  name_y       dept
0   4   alex   77.0    alex        cse
1   5   mina   88.0   david        eee
2   8    NaN    NaN  robert         it
3   9    NaN    NaN    jack        bba
4  10    NaN    NaN  molina  economics

In [ ]:
#add new colomn: join operation
data3={
    "country":['Bangladesh','Bangladesh','india','pakistan','india']
}
df3=pd.DataFrame(data3)
print(df1.join(df3))

   id   name  marks     country
0   1   arif     45  Bangladesh
1   2   asif     53  Bangladesh
2   3  babul     66       india
3   4   alex     77    pakistan
4   5   mina     88       india

In [ ]:
#read csv file

dframe=pd.read_csv('/content/healthcare_dataset.csv')
print(dframe.head())
print(dframe.info())
print(dframe.shape)

FileNotFoundError: [Errno 2] No such file or directory: '/content/healthcare_dataset.csv'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#remove the duplicate elements of the csv file

dframe=dframe.drop_duplicates()

#change a column name:

dframe.rename(columns={
    'Room Number': 'room_no'
}, inplace="True")

print(dframe.head(5))

            Name   Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn  30.0    Male         B-            Cancer         1/31/2024
2    DaNnY sMitH  76.0  Female         A-           Obesity         9/22/2022
3   andrEw waTtS  28.0  Female         O+          Diabetes        11/18/2020
4  adrIENNE bEll  43.0  Female        AB+            Cancer         9/19/2022
5  EMILY JOHNSOn  36.0    Male         A+            Asthma        12/20/2023

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna
5     Taylor Newton              Nunez-Humphrey   UnitedHealthcare

   Billing Amount  room_no Admission Type Discharge Date   Medication  \
0     18856.28131    328.0         Urgent       2/2/2024  Paracetamol
2     27955.09608    205.0      Emergency      10/7/2022      Aspirin
3     37909.78241    450.0       Elective     12/18/2020    Ibuprofen
4     14238.31781    458.0         Urgent      10/9/2022   Penicillin
5     48145.11095    389.0         Urgent     12/24/2023    Ibuprofen

  Test Results
0       Normal
2       Normal
3     Abnormal
4     Abnormal
5       Normal

In [ ]:
# find nulls in the dataframe

pd.isnull(dframe)

# find total null
pd.isnull(dframe).sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
room_no               0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [ ]:
#remove the null values
# dframe=dframe.dropna()   #df.dropna(axis=1)  ...> drop columns with null values

In [ ]:
from textwrap import fill
# fill null value by a string
dframe.fillna('panda')

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,room_no,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30.0,Male,B-,Cancer,1/31/2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328.0,Urgent,2/2/2024,Paracetamol,Normal
2,DaNnY sMitH,76.0,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205.0,Emergency,10/7/2022,Aspirin,Normal
3,andrEw waTtS,28.0,Female,O+,Diabetes,11/18/2020,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450.0,Elective,12/18/2020,Ibuprofen,Abnormal
4,adrIENNE bEll,43.0,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,White-White,Aetna,14238.31781,458.0,Urgent,10/9/2022,Penicillin,Abnormal
5,EMILY JOHNSOn,36.0,Male,A+,Asthma,12/20/2023,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11095,389.0,Urgent,12/24/2023,Ibuprofen,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7343,AlexIS JOnEs,33.0,Female,AB+,Hypertension,7/6/2019,Hannah Weiss,Ltd Johnson,UnitedHealthcare,43037.40498,111.0,Emergency,7/31/2019,Lipitor,Inconclusive
7344,MeLanIE BailEY,70.0,Male,B+,Obesity,7/30/2021,Damon Stevens,"Garcia Elliott and Williams,",Aetna,23253.45593,327.0,Emergency,8/4/2021,Paracetamol,Inconclusive
7345,JiLliaN anDrews,66.0,Female,AB+,Asthma,4/3/2023,Bianca Park,"Jackson, and Martin Wright",UnitedHealthcare,41267.73507,155.0,Emergency,4/4/2023,Ibuprofen,Normal
7346,Dawn GarCIa,44.0,Female,AB+,Diabetes,4/8/2023,Dustin Ray,LLC Salas,Cigna,17133.38505,327.0,Emergency,5/4/2023,Paracetamol,Abnormal
7347,KIMBERlY tHORnTon,18.0,Male,A+,Obesity,4/5/2024,George Brown,Ltd Dillon,Blue Cross,18470.92800,250.0,Elective,4/30/2024,Lipitor,Abnormal

In [ ]:
# see the basic calculataion by default like sum, avg etc
dframe.describe()

               Age  Billing Amount      room_no
count  7347.000000     7347.000000  7347.000000
mean     51.885259    25593.388108   299.038383
std      19.738766    14169.912283   115.396667
min      18.000000    -1310.272895   101.000000
25%      35.000000    13327.865900   201.000000
50%      52.000000    25707.185730   301.000000
75%      69.000000    37628.173875   396.000000
max      85.000000    52271.663750   500.000000

In [ ]:
ages=dframe['Admission Type']
print(ages)

0          Urgent
2       Emergency
3        Elective
4          Urgent
5          Urgent
          ...
7343    Emergency
7344    Emergency
7345    Emergency
7346    Emergency
7347     Elective
Name: Admission Type, Length: 7347, dtype: object

In [ ]:
# see the basic calculataion for a specific column
dframe['Billing Amount'].describe()

count     7347.000000
mean     25593.388108
std      14169.912283
min      -1310.272895
25%      13327.865900
50%      25707.185730
75%      37628.173875
max      52271.663750
Name: Billing Amount, dtype: float64

In [ ]:
#find the frequency of all values in a column
dframe['Medication'].value_counts().head(3)

Medication
Penicillin    1511
Ibuprofen     1487
Lipitor       1485
Name: count, dtype: int64